.col-md-2 {
    text-align: center;
}
h1 {
    color: black;
}
#select-board {
    margin-top: 7px;
}
.brick {
    background-image: url("http://thumbs.dreamstime.com/t/red-brick-wall-vector-illustration-background-texture-pattern-51543695.jpg");

}

.floor {

    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTECD5QNPXxtgx9VucM51m3fIT8zWKaZys1irdhF1DL_nAYFhmhGA");
}

.thought_bubble_container {
    height: 20vh;
}
.thought_bubble_container img {
    width: 30vh;
    margin-top: -60px;
}

.header {
    font-size: 1em;
    font-family: 'Sigmar One', cursive;
    text-align: center;
}
.computer {
    height: 60vh;
    border:10px solid gainsboro;
    background-color: #ffffff;
    background-repeat: no-repeat;
    border-radius: 2%;
}
.dan{
    width: 22vh;
    position: absolute;
}
.eric{
    width: 30vh;
    position: absolute;
}
.white_board{
    width: 32vw;
    position: relative;
}
.board{
    height: 40vh;
    background-color: #fff;
    border: 2px solid #000;
}
.display_results img {
    display: inherit;
    margin: 0 auto;
    border: 2px dashed #fff;
    margin-top: 3%;
}
.board_img{
    width: 100px;
}
.avatar_img{
    width: 300px;
}
.square {
    background-color: #000;
    height: 17vh;
    margin:1%;
}
@media screen and (max-width: 480px) {
    .thought_bubble_container, .player1,.player2, .white_board, .player1 img,.player2 img, .dan {
        display: none;
    }
    .board_img{
        width: 60px;
    }
}