.col-md-2 {
    text-align: center;
}
h1 {
    color: black;
}
#game-board {

    width: 44vw;
    height: 68vh;
    position: fixed;
    left: 28%;
    top: 20vh;
    text-align: center;
}
#select-board {
    margin-top: 7px;
}
.brick {
    background-image: url("http://thumbs.dreamstime.com/t/red-brick-wall-vector-illustration-background-texture-pattern-51543695.jpg");

}

.floor {

    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTECD5QNPXxtgx9VucM51m3fIT8zWKaZys1irdhF1DL_nAYFhmhGA");
}

.well {
    height: 30vh;
    opacity: .7;
    color: black;
}

.header {
    font-size: 1em;
    font-family: 'Sigmar One', cursive;
    text-align: center;
}
.computer {
    height: 60vh;
    border:10px solid gainsboro;
    background-color: #ffffff;
    background-repeat: no-repeat;
    border-radius: 2%;
}
.dan{
    width: 22vh;
    position: absolute;
}
.eric{
    width: 30vh;
    position: absolute;
}
.white_board{
    width: 32vw;
    position: relative;
}
.board{
    height: 40vh;
    background-color: #fff;
    border: 2px solid #000;
}
.display_results {
    border: 1px solid #000;
}

.orange {
    background-color: #000;
    height: 17vh;
    margin:1%;
}