body {
    background-image: url("images/bg_image2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 69% auto;
}

.header {

}

#game-board {
    border: 2px solid red;
    width: 44vw;
    height: 68vh;
    position: fixed;
    left: 28%;
    top: 20vh;
    text-align: center;
}

#select-board {
    margin-top: 7px;
}

#cell-area {
    border: 2px solid green;
    width: 95%;
    height: 75%;
    margin: 14% auto 0;
    padding: 15px 0;
}

#cell-area > div {
    display: inline-block;
    width: 21%;
    height: 21%;
    border: 2px solid #000;
    position: relative;
}

#cell-area > div img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.player1 {
    visibility: hidden;
}

.player2 {
    visibility: hidden;
}


.square {
    color: white;
    border: 1px;
}

.header {
    font-size: 2em;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;


}

.player_divs {
    font-size: 2em;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 10px;

}
.player1{
    visibility: hidden;
}
.player2{
    visibility: hidden;
}